@using WebTimThuoc.Models
@model List<LOAITHUOC>
<style>
    .category-item a {
    text-decoration:none; color:#333;
    }
</style>

 <ul class="category-list">
           
            @foreach(LOAITHUOC cd in Model){
      <li class="category-item" >
        
            @Html.ActionLink(@cd.TENLOAITHUOC, "HTSanPhamLoaiSP2", "Thuoc", new { malt = @cd.MALOAITHUOC, tenlt = @cd.TENLOAITHUOC }, new { @class = "nav-link" }) <i class="fas fa-caret-right"></i>
     
               @*@Html.ActionLink(@cd.TENLOAITHUOC, "HTSachTheoLT", "Thuoc", new { maa= @cd.MALOAITHUOC })*@ 
          @*<i class="fas fa-caret-down"></i>*@
      </li>
      }
          </ul>